.Piece {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.R {
  fill: rgb(255, 76, 76);
}

.B {
  fill: rgb(20, 149, 255);
}

.Piece.highlighted {
  stroke:rgb(170, 255, 12);
  stroke-width: 5px;;
}